<div class="row">
  <div class="card-deck">
    <% q.answers.each do |a| %>
    <div class="col-md-6 d-flex align-items-stretch" style="margin-bottom: 20px;">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-12">
              <%= form_tag({controller: "survey", action: "modify_answer"}, method: "post") do %>
                <%= hidden_field_tag(:id, a.id) %>
                <div class="form-group row">
                  <%= label_tag :answer_title, "Answer: ", class: "col-md-2 col-form-label" %>
                  <div class="col-md-8">
                    <%= text_field_tag :answer_title, a.answer_title, class: "form-control", type: "text" %>
                  </div>
                </div>
                <div class="form-group row">
                  <%= label_tag :position, "Position: ", class: "col-md-2 col-form-label" %>
                  <div class="col-md-2">
                    <%= text_field_tag :position, a.position, class: "form-control", type: "number" %>
                  </div>
                </div>
                <%= button_tag(type: "submit", class: "btn btn-success pull-right") do %>
                  <i class="fa fa-edit" aria-hidden="true"></i>
                  Update Answer
                <% end %>
              <% end %>
              <%= form_tag({controller: "survey", action: "delete_answer"}, method: "post") do %>
                <%= hidden_field_tag(:id, a.id) %>
                <%= button_tag(type: "submit", class: "btn btn-danger pull-left") do %>
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                  Delete Answer
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="card-block">
            <table class="table">
              <thead>
                <th>Keyword</th>
                <th>Weight</th>
                <th></th>
              </thead>
              <% if a.keywords.count > 0 %>
                <% a.keywords.each do |k| %>
                  <%= form_tag({controller: "survey", action: "delete_keyword"}, method: "post") do %>
                  <%= hidden_field_tag(:keyword_id, k.id) %>
                  <%= hidden_field_tag(:question_id, q.id) %>
                    <tr>
                      <td style="width: 45%"><%= k.keyword %></td>
                      <td style="width: 45%"><%= text_field_tag :weight, k.weight, type: "number", class: "form-control" %></td>
                      <td style="width: 10%">
                        <%= button_tag(type: "submit", class: "btn btn-block btn-danger") do %>
                          <i class="fa fa-trash-o" aria-hidden="true"></i>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                <% end %>
              <% end %>
            </table>
        </div>
          <br />
          <div class="card-footer">
            <%= form_tag({controller: "survey", action: "add_keyword"}, method: "post") do %>
              <%= hidden_field_tag(:answer_id, a.id) %>
              <%= hidden_field_tag(:question_id, q.id) %>
              <table class="table">
                <tbody>
                  <tr>
                    <td style="width: 45%"><%= text_field_tag :keyword, "", class: "form-control" %></td>
                    <td style="width: 45%"><%= text_field_tag :weight, "", type: "number", class: "form-control" %></td>
                    <td style="width: 10%">
                      <%= button_tag(type: "submit", class: "btn btn-block btn-success") do %>
                        <i class="fa fa-plus" aria-hidden="true"></i>
                      <% end %>
                    </td>
                  </tr>
                </tbody>
              </table>
            <% end %>
          </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
