<div class="row">
  <div class="card-deck">
    <% q.answers.each do |a| %>
    <div class="col-md-6 d-flex align-items-stretch" style="margin-bottom: 20px;">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-lg-12">
              <%= form_tag({controller: "survey", action: "modify_answer"}, method: "post", id: "modify_answer") do %>
                <%= hidden_field_tag(:id, a.id) %>
                <div class="form-group">
                  <div class="row">
                    <%= label_tag :answer_title, "Answer: ", class: "col-lg-2 col-form-label" %>
                    <div class="col-lg-10">
                      <%= text_field_tag :answer_title, a.answer_title, class: "form-control", type: "text" %>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <%= label_tag :position, "Position: ", class: "col-lg-2 col-form-label" %>
                    <div class="col-lg-10">
                      <%= text_field_tag :position, a.position, class: "form-control", type: "number" %>
                    </div>
                  </div>
                </div>
              <% end %>
              <%= form_tag({controller: "survey", action: "delete_answer"}, method: "post", id: "delete_answer") do %>
                <%= hidden_field_tag(:id, a.id) %>
              <% end %>
            </div>
          </div>
          <div class="btn-group">

            <%= button_tag(type: "submit", class: "btn btn-success", form: "modify_answer") do %>
              <i class="fa fa-check" aria-hidden="true"></i>
              Update
            <% end %>

            <%= button_tag(type: "submit", class: "btn btn-danger pull-right", form: "delete_answer") do %>
              <i class="fa fa-trash-o" aria-hidden="true"></i>
              Delete
            <% end %>

          </div>
        </div>
        <div class="card-block">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <th>Keyword</th>
                <th>Weight</th>
                <th></th>
              </thead>
              <% if a.keywords.count > 0 %>
                <% a.keywords.each do |k| %>
                  <tr>
                    <%= form_tag({controller: "survey", action: "delete_keyword"}, method: "post", id: "delete_keyword" + k.id.to_s) do %>
                      <%= hidden_field_tag(:keyword_id, k.id) %>
                      <%= hidden_field_tag(:question_id, q.id) %>
                    <% end %>
                    <%= form_tag({controller: "survey", action: "edit_keyword"}, method: "post", id: "edit_keyword" + k.id.to_s) do %>
                      <%= hidden_field_tag(:keyword_id, k.id) %>
                      <%= hidden_field_tag(:question_id, q.id) %>
                    <% end %>
                    <td style="width: 45%"><%= text_field_tag :keyword, k.keyword, type: "text", class: "form-control", form: "edit_keyword" + k.id.to_s%></td>
                    <td style="width: 45%"><%= text_field_tag :weight, k.weight, type: "number", class: "form-control", form: "edit_keyword" + k.id.to_s%></td>
                    <td style="width: 10%">
                      <div class="btn-group">
                        <%= button_tag(type: "submit", class: "btn btn-success", form: "edit_keyword" + k.id.to_s) do %>
                          <i class="fa fa-check" aria-hidden="true"></i>
                        <% end %>
                        <%= button_tag(type: "submit", class: "btn btn-danger", form: "delete_keyword" + k.id.to_s) do %>
                          <i class="fa fa-trash-o" aria-hidden="true"></i>
                        <% end %>
                      </div>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </table>
          </div>
        </div>
        <br />
        <div class="card-footer">
          <%= form_tag({controller: "survey", action: "add_keyword"}, method: "post") do %>
            <%= hidden_field_tag(:answer_id, a.id) %>
            <%= hidden_field_tag(:question_id, q.id) %>
            <div class="table-responsive">
              <table class="table">
                <tbody>
                  <tr>
                    <td style="width: 45%"><%= text_field_tag :keyword, "", class: "form-control" %></td>
                    <td style="width: 45%"><%= text_field_tag :weight, "", type: "number", class: "form-control" %></td>
                    <td style="width: 10%">
                      <%= button_tag(type: "submit", class: "btn btn-block btn-success") do %>
                        <i class="fa fa-plus" aria-hidden="true"></i>
                      <% end %>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          <% end %>

        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
