<tr>
  <td>
    <%= o.full_name %>
  </td>
  <td>
    <%= o.email %>
  </td>
  <td>
    <%= o.phone %>
  </td>
  <td>
    <%= form_tag({controller: "officer", action: "delete_officer"}, method: "post") do %>
      <%= hidden_field_tag(:officer_id, o.id) %>
      <%= submit_tag "Delete", class: "btn btn-danger" %>
    <% end %>
  </td>
</tr>
