<div class="row">
  <div class="col-md-12">
    <% if flash[:success] %>
        <div class="alert alert-success"><%= flash[:success] %></div>
    <% end %>
    <% if flash[:error] %>
        <div class="alert alert-danger"><%= flash[:error] %></div>
    <% end %>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <%= form_tag({controller: "rso", action: "modify_rso"}, method: "post", id: "modify_rso", class: "form") do %>
      <fieldset>
        <%= hidden_field_tag(:rso_id, @rso.id) %>
        <div class="form-group">
          <%= label_tag :name, "Name" %>
          <%= text_field_tag :name, @rso.name, class: "form-control", type: "text" %>
        </div>
        <div class="form-group">
          <%= label_tag :nickname, "Nickname" %>
          <%= text_field_tag :nickname, @rso.nickname, class: "form-control", type: "text" %>
        </div>
        <div class="form-group">
          <%= label_tag :website, "Website" %>
          <%= text_field_tag :website, @rso.website, class: "form-control", type: "text" %>
        </div>
        <div class="form-group">
          <%= label_tag :description, "Description" %>
          <%= text_area_tag :description, @rso.description, class: "form-control", type: "textarea", rows: "3" %>
        </div>
      </fieldset>
    <% end %>
    <%= form_tag({controller: "rso", action: "delete_rso"}, method: "post", id: "delete_rso") do %>
      <%= hidden_field_tag(:rso_id, @rso.id) %>
    <% end %>
  </div>
  <div class="card-block">
    <div class="form-group row">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <th>Keyword</th>
            <th>Weight</th>
            <th>Associated Answers</th>
            <th></th>
          </thead>
          <% @rso.keywords.each do |k| %>
            <%= form_tag({controller: "rso", action: "delete_keyword"}, method: "post") do %>
              <%= hidden_field_tag(:keyword_id, k.id) %>
              <%= hidden_field_tag(:rso_id, @rso.id) %>
              <% @keyword_count = 0 %>
              <% answers = [] %>
              <% @questions = Question.all %>
              <% @questions.each do |q| %>
                <% answers = q.answers %>
                <% answers.each do |an| %>
                  <% @keyword_count += an.keywords.where(keyword: k.keyword).count %>
                <% end %>
              <% end %>
              <tr>
                <td width=30%><%= k.keyword %></td>
                <td width=30%><%= text_field_tag "keyword_weights[" + k.id.to_s + "]", k.weight, class: "form-control", type: "text", form: "modify_rso" %></td>
                <% if(@keyword_count == 0) %>
                  <td class="text-danger" width=30%><%= @keyword_count %></td>
                <% else %>
                  <td width=30%><%= @keyword_count %></td>
                <% end %>
                <td width=10%>
                  <%= button_tag(type: "submit", class: "btn btn-block btn-danger") do %>
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                  <% end %>
                </td>

              </tr>
            <% end %>
          <% end %>
          <%= form_tag({controller: "rso", action: "add_keyword"}, method: "post") do %>
            <%= hidden_field_tag(:rso_id, @rso.id) %>
            <tr>
              <td width=30%><%= select_tag(:keyword, options_for_select(@keywords), class: "form-control") %></td>
              <td width=30%><%= text_field_tag :weight, "", class: "form-control", type: "text" %></td>
              <td width=30%></td>
              <td width=10%>
                <%= button_tag(type: "submit", class: "btn btn-block btn-success") do %>
                  <i class="fa fa-plus" aria-hidden="true"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-md-2">
        <%= button_tag(type: "submit", class: "btn btn-block btn-danger", form: "delete_rso") do %>
          <i class="fa fa-trash" aria-hidden="true"></i>
          Delete
        <% end %>
      </div>
      <div class="col-md-8">
      </div>
      <div class="col-md-2">
        <%= button_tag(type:"submit", class: "btn btn-success btn-block", form: "modify_rso") do %>
          <i class="fa fa-check" aria-hidden="true"></i>
          Save
        <% end %>
      </div>
    </div>
  </div>
</div>
